:root {
  --color-black: #000;
  --color-blue: #0066B8;
  --color-blue-hover: #005ba4;
  --color-gray: #2C2C32;
  --color-white: #FFF;
  --color-tan: #F5F5F5;
}

body {
  color: var(--color-black);
  background-color: var(--color-white);
  min-height: 100vh;
  width: 100vw;
}

.fa-clone {
  font-size: 50%;
} 

a {
  text-decoration: none;
  color: var(--color-blue);
}

a:hover {
  color: var(--color-blue-hover);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  font-size: 1.25em;
}

input,
button {
  border: none;
  outline: none;
  font-size: 1em;
}

input {
  border-bottom: 1px solid black;
}

button {
  padding: 1em;
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 50px;
}

button:hover {
  cursor: pointer;
  background-color: var(--color-blue-hover);
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: var(--color-blue);
  font-family: 'Sigmar One', cursive;
  font-weight: bold;
  letter-spacing: .25em;
}

.logo i {
  font-size: 1.5em;
}

.logo p {
  margin: 0;
}

@media only screen and (min-width: 1000px) {
  body::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--color-gray);
    background-image: url('http://www.nasa.gov/sites/default/files/hs-2014-27-a-xlarge_web.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}