:root {
  --color-black: #000;
  --color-blue: rgb(29, 155, 240);
  --color-blue-hover: rgba(29, 141, 219);
  --color-gray: #2C2C32;
  --color-white: #FFF;
  --color-tan: #F5F5F5;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
